.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .first-page {
  background-image: url("./assets/26807.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(2, 2, 2);
}

.App-link {
  color: #cad6da;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.first-page-buttons{
  display: flex;
  gap: 100px;
  margin-top: 100px;
}

.first-page-buttons > button{
  border: none;
  border-radius: 10px;
  background-color: azure;
  padding: 6px 60px;
  font-size: 30px;
  cursor: pointer;

  &:hover{
    border: #cad6da;
    border-color: rgb(228, 114, 73);
  }
  
}

.moto{
  font-family: 'Florist Phillstar', sans-serif;
  font-size: 60px;
}

