@import url('https://fonts.cdnfonts.com/css/kuiper-belt');
@import url('https://fonts.cdnfonts.com/css/florist-phillstar');


body {
  margin: 0;
  font-family: 'Kuiper Belt', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
